<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Svelte + Laravel: Dashboard</title>
        <style>
            body {
                font-family: sans-serif;
            }
        </style>
        <script> var page = 'dashboard';</script>
        <script type="module" crossorigin src="/assets/index.16518c40.js"></script>
        <link rel="stylesheet" href="/assets/index.cf80e917.css">
    </head>
    <body class="antialiased">
            <div id="app"></div>
    </body>
    </html> 